<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Job" id="JobResult">
		<result property="jobNo" column="JOB_NO"/>
		<result property="jobName" column="JOB_NAME"/>
	</resultMap>
	<resultMap type="DepartmentList" id="deptResult">
		<result property="deptNo" column="DEPARTMENT_NO"/>
		<result property="deptTitle" column="DEPARTMENT_TITLE"/>
		<result property="deptResponsible" column="DEPARTMENT_RESPONSIBLE"/>
		<result property="deptCreationDate" column="DEPARTMENT_CREATIONDATE"/>		
	</resultMap>
	<resultMap type="emp" id="EmpResult">
		<result property="empNo" column="EMP_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="cityNo" column="USER_NO"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="jobNo" column="JOB_NO"/>
		<result property="deptNo" column="DEPARTMENT_NO"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPARTMENT_TITLE"/>
	</resultMap>
	<resultMap type="empInfo" id="empInfoResult">
		<result property="empNo" column="EMP_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="cityNo" column="USER_NO"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="jobNo" column="JOB_NO"/>
		<result property="deptNo" column="DEPARTMENT_NO"/>
		<result property="carStatus" column="CAR_STATUS"/>
		<result property="career" column="CAREER"/>
		<result property="awards" column="AWARDS"/>
		<result property="bankName" column="BANK_NAME"/>
		<result property="bankNo" column="BANK_NO"/>
		<result property="holderName" column="HOLDER_NAME"/>
		<result property="homeStatus" column="HOME"/>
		<result property="marriage" column="MARRIAGE"/>
		<result property="childrenCount" column="CHILDREN_COUNT"/>
		<result property="lastEducational" column="LAST_EDUCATIONAL"/>
		<result property="deptName" column="DEPARTMENT_TITLE"/>
		<result property="jobName" column="JOB_NAME"/>
	</resultMap>
	
	<resultMap type="BManage" id="BManageResult">
		<result property="boardNo" column="BOARD_NO"/>
		<result property="boardName" column="BOARD_NAME"/>
	</resultMap>
	
	<resultMap type="MRLC" id="MRLCResult">
		<result property="roomNoLarge" column="ROOM_LARGE_NO"/>
		<result property="LRoomName" column="LROOM_NAME"/>
	</resultMap>
	
	<resultMap type="MR" id="MRResult">
		<result property="roomNoLarge" column="ROOM_LARGE_NO"/>
		<result property="LRoomName" column="LROOM_NAME"/>
		<result property="roomNoSmall" column="ROOM_SMALL_NO"/>
		<result property="SRoomName" column="SROOM_NAME"/>
		<result property="maxCount" column="MAX_COUNT"/>
	</resultMap>
	
	
	<select id="selectAllDeptList" resultMap="deptResult">
		select * from DEPARTMENT_MANAGEMENT
	</select>
	
	<select id="selectAllJobList" resultMap="JobResult">
		select * from JOB_RANK_MANAGEMENT
	</select>
	
	<insert id="insertEmp" parameterType="emp">
		insert into USER_INFO
		(EMP_NO, EMP_NAME, USER_NO, EMAIL, PHONE, HIRE_DATE, STATUS, JOB_NO, DEPARTMENT_NO)
		values
		(SEQ_EMPNO.nextval, #{empName}, #{cityNo}, #{email}, #{phone}, #{hireDate}, default, #{jobNo}, #{deptNo})
	</insert>
	
	<select id="insertUserSelect" resultMap="EmpResult">
		select EMP_NO, email, phone, EMP_NAME from USER_INFO where USER_NO = #{cityNo}
	</select>
	
	<select id="selectEmpAllList" resultMap="EmpResult">
		select * 
		from USER_INFO a
		join JOB_RANK_MANAGEMENT c on a.JOB_NO = c.JOB_NO
		join DEPARTMENT_MANAGEMENT d on a.DEPARTMENT_NO = d.DEPARTMENT_NO
		order by a.JOB_NO
	</select>
	
	<select id="selectSort" resultMap="EmpResult">
		select * 
		from USER_INFO
		<if test="number == 1">
			order by JOB_NO
		</if> 
		<if test="number == 2">
			order by JOB_NO desc
		</if>
		<if test="number == 3">
			order by HIRE_DATE
		</if>
		<if test="number == 4">
			order by HIRE_DATE desc
		</if>
	</select>
	
	<select id="selectEmp" parameterType="string" resultMap="empInfoResult">
		select *
		from USER_INFO a
		join EMPLOYEE_DETAIL_INFO b on a.EMP_NO = b.EMP_NO
		join JOB_RANK_MANAGEMENT c on a.JOB_NO = c.JOB_NO
		join DEPARTMENT_MANAGEMENT d on a.DEPARTMENT_NO = d.DEPARTMENT_NO
		where a.EMP_NO = #{empNo}
	</select>
	
	<select id="selectBoardAllList" resultMap="BManageResult">
		select * from BOARD_MANAGEMENT
	</select>
	
	<insert id="insertBoard">
		insert into BOARD_MANAGEMENT
		values
		(SEQ_BOARDMANAGE.NEXTVAL, #{next})
	</insert>
	
	<delete id="deleteBoard">
		delete from BOARD_MANAGEMENT
		where BOARD_NO = #{boardNo}
	</delete>
	
	<update id="updateBoard" parameterType="BManage">
		update BOARD_MANAGEMENT
		set
		BOARD_NAME = #{boardName}
		where BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectBanWordsAllList" resultType="banword">
		select * from FORBIDDEN_WORDS
	</select>
	
	<insert id="insertBanWords">
		insert into FORBIDDEN_WORDS
		values
		(#{words})
	</insert>
	
	<delete id="deleteBanWords">
		delete from FORBIDDEN_WORDS
		where words = #{words}
	</delete>
	
	<update id="updateBanWords">
		update FORBIDDEN_WORDS
		set words = #{newWords}
		where words = #{words}
	</update>
	
	<select id="selectMRAllList" resultMap="MRLCResult">
		select *
		from MEETINGROOM_CATEGORY_LARGE
		order by ROOM_LARGE_NO
	</select>
	
	<update id="updateMRLC" parameterType="MRLC">
		update MEETINGROOM_CATEGORY_LARGE
		set LROOM_NAME = #{LRoomName}
		where ROOM_LARGE_NO = #{roomNoLarge}
	</update>
	
	<insert id="insertMRLC">
		insert into MEETINGROOM_CATEGORY_LARGE
		values
		(SEQ_ADMIN.nextval, #{LRoomName})
	</insert>
	
	<delete id="deleteMRLC">
		delete from MEETINGROOM_CATEGORY_LARGE
		where ROOM_LARGE_NO = #{roomNoLarge}
	</delete>
	
	<select id="selectSmallList" resultMap="MRResult">
		select
		    room_small_no,
		    lroom_name,
		    sroom_name,
		    max_count,
		    status,
		    a.room_large_no
		from MEETINGROOM_MANAGEMENT a
		join MEETINGROOM_CATEGORY_LARGE b on a.ROOM_LARGE_NO = b.ROOM_LARGE_NO
		where b.room_large_no = #{roomNoLarge}
		order by b.room_large_no
	</select>
	
	<insert id="insertMR" parameterType="MR">
		insert into MEETINGROOM_MANAGEMENT
		(ROOM_SMALL_NO, ROOM_LARGE_NO, SROOM_NAME, STATUS)
		values
		(seq_admin.nextval, #{roomNoLarge}, #{SRoomName}, 'Y')
	</insert>
	
	<select id="selectMR" parameterType="MR" resultType="string">
		select SROOM_NAME
		from MEETINGROOM_MANAGEMENT
		where ROOM_LARGE_NO = #{roomNoLarge}
	</select>
	
	<delete id="deleteMR">
		delete from MEETINGROOM_MANAGEMENT
		where ROOM_SMALL_NO = #{roomNoSmall}
	</delete>
	
	<update id="updateMR" parameterType="MR">
		update MEETINGROOM_MANAGEMENT
		set SROOM_NAME = #{SRoomName}
		where ROOM_SMALL_NO = #{roomNoSmall}
	</update>
	
	<select id="selectStatus" resultMap="MRResult">
		select
            lroom_name,
		    room_small_no,
		    sroom_name,
		    max_count,
		    status
		from MEETINGROOM_MANAGEMENT a
		join MEETINGROOM_CATEGORY_LARGE b on a.ROOM_LARGE_NO = b.ROOM_LARGE_NO
		where room_small_no = #{roomNoSmall}
		order by b.room_large_no 
	</select>
	
	<update id="maxCountUpdate" parameterType="MR">
		update MEETINGROOM_MANAGEMENT
		set MAX_COUNT = #{maxCount}
		where ROOM_SMALL_NO = #{roomNoSmall}
	</update>
	
	<update id="updateStatus" parameterType="MR">
		update MEETINGROOM_MANAGEMENT
		set STATUS = #{status}
		where ROOM_SMALL_NO = #{roomNoSmall}
	</update>
	
	<select id="deptSelectPage" resultMap="deptResult">
		select *
		from DEPARTMENT_MANAGEMENT
		where DEPARTMENT_TITLE = #{deptName}
	</select>
	
	<select id="deptMemberList" resultMap="EmpResult">
		select
			a.EMP_NO,
			a.EMP_NAME,
			b.JOB_NAME
		from USER_INFO a
		join JOB_RANK_MANAGEMENT b on a.job_no = b.job_no
		where a.department_no = #{deptNo}
		order by a.job_no
	</select>
	
	<insert id="insertDept">
		insert into DEPARTMENT_MANAGEMENT
		(DEPARTMENT_NO, DEPARTMENT_TITLE, DEPARTMENT_CREATIONDATE)
		values
		(seq_admin.nextval, #{deptName}, SYSDATE)
	</insert>
	
	<update id="updateDept" parameterType="DepartmentList">
		update DEPARTMENT_MANAGEMENT
		set DEPARTMENT_TITLE = #{deptTitle}
		where DEPARTMENT_NO = #{deptNo}
	</update>
	
	<update id="updateResponsible" parameterType="emp">
		update DEPARTMENT_MANAGEMENT
		set DEPARTMENT_RESPONSIBLE = #{empName}
		where DEPARTMENT_TITLE = #{deptName}
	</update>
	
	<delete id="deleteDept">
		delete from DEPARTMENT_MANAGEMENT
		where DEPARTMENT_NO = #{deptNo}
	</delete>
	
	<select id="selectEmpUp" resultMap="EmpResult">
		select *
		from user_info
		where emp_no = #{empNo}
	</select>
	
	<update id="updateEmployee" parameterType="emp">
		update user_info
		set
		EMP_NAME = #{empName},
		USER_NO = #{cityNo},
		EMAIL = #{email},
		PHONE = #{phone},
		ADDRESS = #{address},
		JOB_NO = #{jobNo},
		DEPARTMENT_NO = #{deptNo}
		where emp_no = #{empNo}
	</update>
</mapper>