<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aprvMapper">
	
	<!-- 결재 대기, 요청 문서, 반려, 완료 리스트 -->
	<resultMap type="AprvDoc" id="aprvList_resultMap">
		<result property="drafter" column="DRAFTER_NAME"/>
		<result property="draftDate" column="DFT_DATE"/>
	</resultMap>
	
	<!-- 부서 리스트 조회하는 -->
	<resultMap type="DepartmentList" id="deptTitle_resultMap">
		<result property="deptNo" column="DEPARTMENT_NO"/>
		<result property="deptTitle" column="DEPARTMENT_TITLE"/>
	</resultMap>
	
	<!-- 해당 문서 가장 최근 결재 기록 조회 -->
	<resultMap type="AprvDoc" id="lastAprvHistory_resultMap">
		<result property="drafter" column="DRAFTER"/>
		<result property="aprvCode" column="APRV_CODE"/>
		<result property="aprvPro" column="APRV_PRO"/>
	</resultMap>
	
	
	
	<!-- 문서 등록 -->
	
	<!-- 결재선 조회 -->
	<select id="selectDeptApprover" parameterType="Member" resultType="Member">
		SELECT
			A.EMP_NO,
		    A.EMP_NAME,
		    B.JOB_NAME
		FROM USER_INFO A
		JOIN JOB_RANK_MANAGEMENT B ON A.JOB_NO = B.JOB_NO
		
			<if test='jobNo lt "4"'>
				WHERE A.JOB_NO IN (4, 7)
			</if>
			<if test='jobNo gte "4" and jobNo lt "7"'>
				WHERE A.JOB_NO = 7
			</if>
		AND A.DEPARTMENT_NO = #{departmentNo}
		ORDER BY B.JOB_NO
	</select>
	
	<!-- 로그인 유저의 소속(부서명) 조회 -->
	<select id="selectDeptName" parameterType="string" resultType="string">
		SELECT DEPARTMENT_TITLE
		FROM DEPARTMENT_MANAGEMENT
		WHERE DEPARTMENT_NO = #{deptNo}
	</select>
	
	<!-- 결재 문서 등록 -->
	<insert id="insertAprvDoc" parameterType="AprvDoc">
		INSERT INTO APRV_DOCUMENT VALUES
		(SEQ_DOC_NO.CURRVAL, #{docType}, #{docTitle}, #{drafter}, SYSDATE, 
		 #{firstAprv}, #{secondAprv}, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 결재 기록 등록 -->
	<insert id="insertAprvHistory" parameterType="AprvHistory">
		INSERT INTO APRV_HISTORY VALUES
		(SEQ_APRV_HISTORY.NEXTVAL, 
		 <if test="docNo == null">SEQ_DOC_NO.CURRVAL,</if>
		 <if test="docNo != null">#{docNo},</if>
		 #{approver}, #{approverJob}, #{aprvPro}, DEFAULT)
	</insert>
	
	<!-- 휴가 신청서 등록 -->
	<insert id="insertLeaveApp" parameterType="LeaveForm">
		INSERT INTO LEAVE_APP VALUES
		(SEQ_LEAVE_APP.NEXTVAL, SEQ_DOC_NO.NEXTVAL, #{docTypeNo}, #{drafter}, #{drafterDept}, 
		 DEFAULT, #{vacType}, #{startDate}, #{endDate}, #{vacUseDays}, #{vacReason}, NULL)
	</insert>
	
	<!-- 해당 날짜 근태 기록 조회 -->
	<select id="selectCmt" parameterType="AttendLog" resultType="AttendLog">
		SELECT
		    SUBSTR(TO_CHAR(ATTEND_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS ATTEND_TIME2,
		    SUBSTR(TO_CHAR(LEAVE_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS LEAVE_TIME2
		FROM ATTEND_LOG
		WHERE 1=1
		AND EMP_NO = #{empNo}
		AND TO_DATE(ATTEND_DATE) = #{attendDate}
	</select>
	
	<!-- 근태 기록 수정 의뢰 신청서 등록 -->
	<insert id="insertCmtUpdateApp" parameterType="CmtUpdateForm">
		INSERT INTO CMT_UPDATE_APP VALUES
		(SEQ_CMT_UPD_APP.NEXTVAL, SEQ_DOC_NO.NEXTVAL, #{docTypeNo}, #{drafter}, #{drafterDept}, SYSDATE, 
		 #{updateDate}, TO_DATE(#{beAttendTime}, 'YYYY-MM-DD HH24:MI'), TO_DATE(#{beLeaveTime}, 'YYYY-MM-DD HH24:MI'), 
		 TO_DATE(#{attendTime}, 'YYYY-MM-DD HH24:MI'), TO_DATE(#{leaveTime}, 'YYYY-MM-DD HH24:MI'), #{updateReason}, NULL, DEFAULT)
	</insert>
	
	<!-- 부서 리스트 조회 -->
	<select id="selectDeptList" parameterType="_int" resultMap="deptTitle_resultMap">
		SELECT *
		FROM DEPARTMENT_MANAGEMENT
		WHERE DEPARTMENT_NO != #{deptNo}
	</select>
	
	<!-- 업무 기안서 등록 -->
	<insert id="insertBusDraft" parameterType="BusDraftForm">
		INSERT INTO BUSINESS_DFT VALUES
		(SEQ_BUSINESS_DFT.NEXTVAL, SEQ_DOC_NO.NEXTVAL, #{docTypeNo}, #{docTitle}, #{drafter}, 
		#{drafterDept}, SYSDATE, #{enfDate}, #{coopDept}, #{dftContent}, NULL)
	</insert>
	
	<!-- 업무 협조문 -->
	<insert id="insertBusCoop" parameterType="BusCoopForm">
		INSERT INTO BUSINESS_COOP VALUES
		(SEQ_BUSINESS_DFT.NEXTVAL, SEQ_DOC_NO.NEXTVAL, #{docTypeNo}, #{docTitle}, #{drafter}, 
		#{drafterDept}, SYSDATE, #{receiveDept}, #{coopContent}, NULL)
	</insert>
	
	<!-- 결재 대기 리스트 개수 -->
	<select id="waitingListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_PRO IN ('A', 'D')
		AND APRV_STATUS = 1
		AND (APRV_HISTORY_NO, DOC_NO) IN (SELECT MAX(B.APRV_HISTORY_NO), B.DOC_NO
                                  		  FROM APRV_DOCUMENT A
                                  		  JOIN APRV_HISTORY B ON A.DOC_NO = B.DOC_NO
                                  		  GROUP BY B.DOC_NO)
		AND ((FIRST_APRV = #{empNo} AND APPROVER = DRAFTER)
		OR (SECOND_APRV = #{empNo} AND APPROVER = FIRST_APRV))
	</select>
	
	<!-- 결재 대기 리스트 조회 -->
	<select id="selectWaitingList" parameterType="_int" resultMap="aprvList_resultMap">
		SELECT *
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_PRO IN ('A', 'D')
		AND APRV_STATUS = 1
		AND (APRV_HISTORY_NO, DOC_NO) IN (SELECT MAX(B.APRV_HISTORY_NO), B.DOC_NO
                                      FROM APRV_DOCUMENT A
                                  	  JOIN APRV_HISTORY B ON A.DOC_NO = B.DOC_NO
                                  	  GROUP BY B.DOC_NO)
		AND ((FIRST_APRV = #{empNo} AND APPROVER = DRAFTER)
		OR (SECOND_APRV = #{empNo} AND APPROVER = FIRST_APRV))
		ORDER BY PRO_DATE DESC
	</select>
	
	<!-- 결재 요청 리스트 개수 -->
	<select id="requestListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_PRO IN ('A', 'D')
		AND APPROVER = #{empNo}
	</select>
	
	<!-- 결재 요청 리스트 조회 -->
	<select id="selectRequestList" parameterType="_int" resultMap="aprvList_resultMap">
		SELECT *
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_PRO IN ('A', 'D')
		AND APPROVER = #{empNo}
		ORDER BY PRO_DATE DESC
	</select>
	
	<!-- 해당 문서의 서식 번호 조회 -->
	<select id="selectDocTypeNo" parameterType="_int" resultType="_int">
		SELECT DOC_TYPE
		FROM APRV_DOCUMENT
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 해당 문서 결재자 조회 -->
	<select id="selectDocApprover" parameterType="_int" resultType="AprvDoc">
		SELECT
		    A.DOC_NO,
		    B.EMP_NAME AS FIRST_APRV,
		    D.JOB_NAME AS FIRST_JOB,
		    C.EMP_NAME AS SECOND_APRV,
		    E.JOB_NAME AS SECOND_JOB
		FROM APRV_DOCUMENT A
		JOIN USER_INFO B ON A.FIRST_APRV = B.EMP_NO
		LEFT JOIN USER_INFO C ON A.SECOND_APRV = C.EMP_NO
		JOIN JOB_RANK_MANAGEMENT D ON B.JOB_NO = D.JOB_NO
		LEFT JOIN JOB_RANK_MANAGEMENT E ON C.JOB_NO = E.JOB_NO
		WHERE A.DOC_NO = #{docNo}
	</select>
	
	<!-- 휴가 신청서 상세 조회 -->
	<select id="selectLeaveForm" parameterType="_int" resultType="LeaveForm">
		SELECT
			A.DOC_NO, A.OUTBOX_NO, B.EMP_NAME AS DRAFTER_NAME, A.DRAFTER, 
			C.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE, A.VAC_TYPE, A.START_DATE, 
			TO_CHAR(A.END_DATE, 'YYYY-MM-DD') AS END_DATE, 
			A.VAC_USE_DAYS, A.VAC_REASON
		FROM LEAVE_APP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.DRAFTER_DEPT = C.DEPARTMENT_NO
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 근태 기록 수정 신청서 상세 조회 -->
	<select id="selectCmtUpdateForm" parameterType="_int" resultType="CmtUpdateForm">
		SELECT
		    A.DOC_NO,
		    A.DOC_TYPE_NO,
		    A.DRAFTER,
		    B.EMP_NAME AS DRAFTER_NAME,
		    C.DEPARTMENT_TITLE AS DRAFTER_DEPT,
		    A.DFT_DATE,
		    TO_CHAR(A.UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE,
		    SUBSTR(TO_CHAR(A.BE_ATTEND_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS BE_ATTEND_TIME,
		    SUBSTR(TO_CHAR(A.BE_LEAVE_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS BE_LEAVE_TIME,
		    SUBSTR(TO_CHAR(A.ATTEND_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS ATTEND_TIME,
		    SUBSTR(TO_CHAR(A.LEAVE_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS LEAVE_TIME,
		    TO_CHAR(A.UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE
  		FROM CMT_UPDATE_APP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.DRAFTER_DEPT = C.DEPARTMENT_NO
		WHERE DOC_NO = #{docNo}
	</select>	
	
	<!-- 업무 기안서 상세 조회 -->
	<select id="selectbusDraftForm" parameterType="_int" resultType="BusDraftForm">
		SELECT
			A.DOC_NO, A.DOC_TITLE, B.EMP_NAME AS DRAFTER_NAME, 
			A.DRAFTER, D.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE,
			TO_CHAR(A.ENF_DATE, 'YYYY-MM-DD') AS ENF_DATE,  A.COOP_DEPT,
			C.DEPARTMENT_TITLE AS COOP_DEPT_NAME, A.DFT_CONTENT
		FROM BUSINESS_DFT A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.COOP_DEPT = C.DEPARTMENT_NO
		JOIN DEPARTMENT_MANAGEMENT D ON A.DRAFTER_DEPT = D.DEPARTMENT_NO
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 업무 협조문 상세 조회 -->
	<select id="selectbusCoopForm" parameterType="_int" resultType="BusCoopForm">
		SELECT
			A.DOC_NO, A.DOC_TITLE, B.EMP_NAME AS DRAFTER_NAME, A.DRAFTER, 
			D.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE, A.RECEIVE_DEPT,
			C.DEPARTMENT_TITLE AS RECEIVE_DEPT_NAME, A.COOP_CONTENT
		FROM BUSINESS_COOP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.RECEIVE_DEPT = C.DEPARTMENT_NO
		JOIN DEPARTMENT_MANAGEMENT D ON A.DRAFTER_DEPT = D.DEPARTMENT_NO
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 결재 반려, 승인, 임시저장 기록 등록 -->
	<insert id="insertAprvHistory2" parameterType="AprvHistory">
		INSERT INTO APRV_HISTORY VALUES
		(SEQ_APRV_HISTORY.NEXTVAL, #{docNo}, #{approver}, #{approverJob}, #{aprvPro}, SYSDATE)
	</insert>
	
	<!-- 문서 상테값 업데이트 -->
	<update id="updateDoc" parameterType="AprvDoc">
		UPDATE APRV_DOCUMENT
		SET APRV_STATUS = #{aprvStatus}
		WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 반려 문서 등록 -->
	<insert id="aprvReturn" parameterType="ReturnDoc">
		INSERT INTO RETURN_DOC VALUES
		(#{docNo}, #{reFrom}, #{reReason}, SYSDATE)
	</insert>
	
	<!-- 결재 반려 리스트 개수 -->
	<select id="returnListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM V_APRV_HISTORY A
		JOIN RETURN_DOC B ON A.DOC_NO = B.DOC_NO
		WHERE 1=1
		AND A.APRV_STATUS = 4
		AND A.APPROVER = #{empNo}
		AND B.RE_FROM != #{empNo}
	</select>
	
	<!-- 결재 반려 리스트 조회 -->
	<select id="selectReturnList" parameterType="_int" resultMap="aprvList_resultMap">
		SELECT *
		FROM V_APRV_HISTORY A
		JOIN RETURN_DOC B ON A.DOC_NO = B.DOC_NO
		WHERE 1=1
		AND A.APRV_STATUS = 4
		AND A.APPROVER = #{empNo}
		AND B.RE_FROM != #{empNo}
		ORDER BY B.RE_DATE DESC
	</select>
	
	<!-- 반려 사유 조회 -->
	<select id="selectReReason" parameterType="_int" resultType="ReturnDoc">
		SELECT A.DOC_NO, A.RE_FROM, B.EMP_NAME AS RE_FROM_NAME, A.RE_DATE, A.RE_REASON
		FROM RETURN_DOC A
		JOIN USER_INFO B ON A.RE_FROM = B.EMP_NO
		WHERE A.DOC_NO = #{docNo}
	</select>
	
	<!-- 기안자 조회 -->
	<select id="selectDrafter" parameterType="_int" resultType="_int">
		SELECT DRAFTER
		FROM APRV_DOCUMENT
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 반려 문서 삭제 -->
	<update id="deleteReturnDoc" parameterType="_int">
		UPDATE APRV_DOCUMENT
		SET STATUS = 'N'
		WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 결재 완료 문서 총 개수 -->
	<select id="completeListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_STATUS = 2
		AND (APRV_HISTORY_NO, DOC_NO) IN (SELECT MAX(D.APRV_HISTORY_NO), D.DOC_NO
		                                      FROM APRV_DOCUMENT C
		                                      JOIN APRV_HISTORY D ON C.DOC_NO = D.DOC_NO
		                                      GROUP BY D.DOC_NO)
		AND (DRAFTER = #{empNo} OR FIRST_APRV = #{empNo} OR SECOND_APRV = #{empNo})
	</select>
	
	<!-- 결재 완료 문서 리스트 -->
	<select id="selectCompleteList" parameterType="_int" resultMap="aprvList_resultMap">
		SELECT *
		FROM V_APRV_HISTORY
		WHERE 1=1
		AND APRV_STATUS = 2
		AND (APRV_HISTORY_NO, DOC_NO) IN (SELECT MAX(D.APRV_HISTORY_NO), D.DOC_NO
		                                      FROM APRV_DOCUMENT C
		                                      JOIN APRV_HISTORY D ON C.DOC_NO = D.DOC_NO
		                                      GROUP BY D.DOC_NO)
		AND (DRAFTER = #{empNo} OR FIRST_APRV = #{empNo} OR SECOND_APRV = #{empNo})
		ORDER BY PRO_DATE DESC
	</select>
	
	<!-- 문서 보안 요청 -->
	<insert id="docScrtyRequest" parameterType="SecurityDoc">
		INSERT INTO SECURITY_DOC VALUES
		(#{docNo}, #{scrtyReason}, SYSDATE, NULL, DEFAULT)
	</insert>
	
	<!-- 보안 요청된 문서인지 조회 -->
	<select id="docScrtyReqCheck" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM SECURITY_DOC
		WHERE SCRTY_STATUS = 'N'
		AND DOC_NO = #{docNo}
	</select>
	
	<!-- 진행 상태 확인 리스트 개수 -->
	<select id="statusListCount" parameterType="AprvDoc" resultType="_int">
		SELECT COUNT(*)
		FROM V_APRV_HISTORY
		WHERE APPROVER = #{drafter}
		<if test="aprvStatus != 0">
			AND APRV_STATUS = #{aprvStatus}
		</if>
	</select>
	
	<!-- 진행 상태 확인 리스트 조회 -->
	<select id="selectStatusList" parameterType="AprvDoc" resultMap="aprvList_resultMap">
		SELECT
		    A.DOC_NO,
		    A.DOC_FORM,
		    A.DOC_TITLE,
		    A.DRAFTER_NAME,
		    A.DFT_DATE,
		    A.APRV_STATUS, 
		    B.APRV_STATUS AS APRV_STATUS_NAME
		FROM V_APRV_HISTORY A
		JOIN APRV_STATUS B ON A.APRV_STATUS = B.APRV_STATUS_NO
		WHERE A.APPROVER = #{drafter}
		<if test="aprvStatus != 0">
			AND A.APRV_STATUS = #{aprvStatus}
		</if>
		ORDER BY A.PRO_DATE DESC
	</select>
	
	<!-- 상태값이 진행 중인 경우 현재 결재자 조회 -->
	<select id="selectApprover" parameterType="_int" resultType="string">
		SELECT
		    CASE
		        WHEN ( A.APPROVER = A.DRAFTER ) THEN B.EMP_NAME
		        WHEN ( A.APPROVER = A.FIRST_APRV AND A.SECOND_APRV IS NOT NULL ) THEN C.EMP_NAME
		    END AS 진행중
		FROM V_APRV_HISTORY A
		JOIN USER_INFO B ON A.FIRST_APRV = B.EMP_NO
		LEFT JOIN USER_INFO C ON A.SECOND_APRV = C.EMP_NO
		WHERE 1=1
		AND A.APRV_STATUS = 1
		AND A.DOC_NO = #{docNo}
		AND (A.APRV_HISTORY_NO, A.DOC_NO) IN (SELECT MAX(E.APRV_HISTORY_NO), E.DOC_NO
		                                  FROM APRV_DOCUMENT D
		                                  JOIN APRV_HISTORY E ON D.DOC_NO = E.DOC_NO
		                                  GROUP BY E.DOC_NO)
	</select>
	
	<!-- 해당 문서 상태값 조회 -->
	<select id="selectAprvStatus" parameterType="_int" resultType="_int">
		SELECT APRV_STATUS
		FROM APRV_DOCUMENT
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 결재 문서 상태값 리스트 조회 -->
	<select id="aprvStatusList" resultType="AprvStatus">
		SELECT *
		FROM APRV_STATUS
		WHERE APRV_STATUS_NO IN (1,2,4)
	</select>
	
	<!-- 임시 보관함에 저장 -->
	<insert id="saveDocOutbox" parameterType="DocOutbox">
		INSERT INTO DOC_OUTBOX VALUES
		(SEQ_DOC_OUTBOX.NEXTVAL, #{docType}, #{docTitle}, #{drafter}, SYSDATE, #{docNo})
	</insert>
	
	<!-- 휴가 신청서 임시저장 -->
	<insert id="saveLeaveFormOutbox" parameterType="LeaveForm">
		INSERT INTO LEAVE_APP VALUES
		(SEQ_LEAVE_APP.NEXTVAL, NULL, #{docTypeNo}, #{drafter}, #{drafterDept}, 
 		 DEFAULT, #{vacType}, #{startDate}, #{endDate}, #{vacUseDays}, #{vacReason}, 
 		 SEQ_DOC_OUTBOX.CURRVAL)
	</insert>
	
	<!-- 근태 기록 수정 신청서 임시저장 -->
	<insert id="saveCmpUdpFormOutbox" parameterType="CmtUpdateForm">
		INSERT INTO CMT_UPDATE_APP VALUES
		(SEQ_CMT_UPD_APP.NEXTVAL, NULL, #{docTypeNo}, #{drafter}, #{drafterDept}, 
		 SYSDATE, #{updateDate}, TO_DATE(#{beAttendTime}, 'YYYY-MM-DD HH24:MI'), 
		 TO_DATE(#{beLeaveTime}, 'YYYY-MM-DD HH24:MI'), TO_DATE(#{attendTime}, 'YYYY-MM-DD HH24:MI'), 
		 TO_DATE(#{leaveTime}, 'YYYY-MM-DD HH24:MI'), #{updateReason}, SEQ_DOC_OUTBOX.CURRVAL, DEFAULT)
	</insert>
	
	<!-- 업무 기안서 임시저장 -->
	<insert id="saveDraftFormOutbox" parameterType="BusDraftForm">
		INSERT INTO BUSINESS_DFT VALUES
		(SEQ_BUSINESS_DFT.NEXTVAL, NULL, #{docTypeNo}, #{docTitle}, #{drafter}, 
		 #{drafterDept}, SYSDATE, #{enfDate}, #{coopDept}, #{dftContent}, SEQ_DOC_OUTBOX.CURRVAL)
	</insert>
	
	<!-- 업무 기안서 임시저장 -->
	<insert id="saveCoopFormOutbox" parameterType="BusCoopForm">
		INSERT INTO BUSINESS_COOP VALUES
		(SEQ_BUSINESS_DFT.NEXTVAL, NULL, #{docTypeNo}, #{docTitle}, #{drafter}, 
		 #{drafterDept}, SYSDATE, #{receiveDept}, #{coopContent}, SEQ_DOC_OUTBOX.CURRVAL)
	</insert>
	
	<!-- 임시 보관함 리스트 개수 -->
	<select id="outboxListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM DOC_OUTBOX A
		JOIN DOCUMENT_TYPE B ON A.DOC_TYPE = B.DOC_TYPE_NO
		JOIN USER_INFO C ON A.DRAFTER = C.EMP_NO
		WHERE A.DRAFTER = #{empNo}
	</select>
	
	<!-- 임시 보관함 리스트 조회 -->
	<select id="selectOutboxList" parameterType="_int" resultType="DocOutbox">
		SELECT
		    A.DOC_OUTBOX_NO,
		    B.DOC_FORM,
		    A.DOC_TYPE,
		    A.DOC_TITLE,
		    C.EMP_NAME AS DRAFTER,
		    A.LAST_UPDATE_DATE
		FROM DOC_OUTBOX A
		JOIN DOCUMENT_TYPE B ON A.DOC_TYPE = B.DOC_TYPE_NO
		JOIN USER_INFO C ON A.DRAFTER = C.EMP_NO
		WHERE A.DRAFTER = #{empNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 임시 보관 문서 타입 조회 -->
	<select id="selectOutboxDocTypeNo" parameterType="_int" resultType="_int">
		SELECT DOC_TYPE
		FROM DOC_OUTBOX
		WHERE DOC_OUTBOX_NO = #{outboxNo}
	</select>
	
	<!-- 휴가 신청서 임시 보관함 상세 조회 -->
	<select id="selectLeaveFormOutbox" parameterType="_int" resultType="LeaveForm">
		SELECT
			A.DOC_NO, A.OUTBOX_NO, B.EMP_NAME AS DRAFTER_NAME, A.DRAFTER, 
			C.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE, A.VAC_TYPE, A.START_DATE, 
			TO_CHAR(A.END_DATE, 'YYYY-MM-DD') AS END_DATE, 
			A.VAC_USE_DAYS, A.VAC_REASON
		FROM LEAVE_APP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.DRAFTER_DEPT = C.DEPARTMENT_NO
		WHERE OUTBOX_NO = #{outboxNo}
	</select>
	
	<!-- 근태 기록 수정 신청서 임시 보관함 상세 조회 -->
	<select id="selectCmtUdtFormOutbox" parameterType="_int" resultType="CmtUpdateForm">
		SELECT
		    A.DOC_NO,
		    A.OUTBOX_NO,
		    A.DOC_TYPE_NO,
		    B.EMP_NAME AS DRAFTER_NAME,
		    A.DRAFTER,
		    C.DEPARTMENT_TITLE AS DRAFTER_DEPT,
		    A.DFT_DATE,
		    TO_CHAR(A.UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE,
		    SUBSTR(TO_CHAR(A.BE_ATTEND_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS BE_ATTEND_TIME,
		    SUBSTR(TO_CHAR(A.BE_LEAVE_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS BE_LEAVE_TIME,
		    SUBSTR(TO_CHAR(A.ATTEND_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS ATTEND_TIME,
		    SUBSTR(TO_CHAR(A.LEAVE_TIME, 'YYYY/MM/DD HH24:MI:SS'), 12, 5) AS LEAVE_TIME,
		    A.UPDATE_REASON
		FROM CMT_UPDATE_APP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		JOIN DEPARTMENT_MANAGEMENT C ON A.DRAFTER_DEPT = C.DEPARTMENT_NO
		WHERE OUTBOX_NO = #{outboxNo}
	</select>	
	
	<!-- 업무 기안서 임시 보관함 상세 조회 -->
	<select id="selectDraftFormOutbox" parameterType="_int" resultType="BusDraftForm">
		SELECT
			A.DOC_NO, A.OUTBOX_NO, A.DOC_TITLE, B.EMP_NAME AS DRAFTER_NAME, 
			A.DRAFTER, D.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE,
			TO_CHAR(A.ENF_DATE, 'YYYY-MM-DD') AS ENF_DATE,  A.COOP_DEPT,
			C.DEPARTMENT_TITLE AS COOP_DEPT_NAME, A.DFT_CONTENT
		FROM BUSINESS_DFT A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		LEFT JOIN DEPARTMENT_MANAGEMENT C ON A.COOP_DEPT = C.DEPARTMENT_NO
		JOIN DEPARTMENT_MANAGEMENT D ON A.DRAFTER_DEPT = D.DEPARTMENT_NO
		WHERE OUTBOX_NO = #{outboxNo}
	</select>
	
	<!-- 업무 협조문 임시 보관함 상세 조회 -->
	<select id="selectCoopFormOutbox" parameterType="_int" resultType="BusCoopForm">
		SELECT
			A.DOC_NO, A.OUTBOX_NO, A.DOC_TITLE, B.EMP_NAME AS DRAFTER_NAME, A.DRAFTER, 
			D.DEPARTMENT_TITLE AS DRAFTER_DEPT, A.DFT_DATE, A.RECEIVE_DEPT,
			C.DEPARTMENT_TITLE AS RECEIVE_DEPT_NAME, A.COOP_CONTENT
		FROM BUSINESS_COOP A
		JOIN USER_INFO B ON A.DRAFTER = B.EMP_NO
		LEFT JOIN DEPARTMENT_MANAGEMENT C ON A.RECEIVE_DEPT = C.DEPARTMENT_NO
		JOIN DEPARTMENT_MANAGEMENT D ON A.DRAFTER_DEPT = D.DEPARTMENT_NO
		WHERE OUTBOX_NO = #{outboxNo}
	</select>
	
	<!-- 임시 저장 문서 삭제 -->
	<delete id="deleteOutboxDoc" parameterType="_int">
		DELETE FROM DOC_OUTBOX WHERE DOC_OUTBOX_NO = #{outboxNo}
	</delete>
	
	<!-- 휴가 신청서 삭제 -->
	<delete id="deleteLeaveApp" parameterType="_int">
		DELETE FROM LEAVE_APP WHERE OUTBOX_NO = #{outboxNo}
	</delete>
	
	<!-- 근태 기록 수정 신청서 삭제 -->
	<delete id="deleteCmtUpdateApp" parameterType="_int">
		DELETE FROM CMT_UPDATE_APP WHERE OUTBOX_NO = #{outboxNo}
	</delete>
	
	<!-- 업무 기안서 삭제 -->
	<delete id="deleteBusDraft" parameterType="_int">
		DELETE FROM BUSINESS_DFT WHERE OUTBOX_NO = #{outboxNo}
	</delete>
	
	<!-- 업무 협조문 삭제 -->
	<delete id="deleteBusCoop" parameterType="_int">
		DELETE FROM BUSINESS_COOP WHERE OUTBOX_NO = #{outboxNo}
	</delete>
	
	<!-- 임시 보관 문서 최근 수정일 업데이트 -->
	<update id="updateLastUpdateDate" parameterType="_int">
		UPDATE DOC_OUTBOX
		SET LAST_UPDATE_DATE = SYSDATE
		WHERE DOC_OUTBOX_NO = #{ outboxNo }
	</update>
	
	<!-- 휴가 신청서 업데이트 -->
	<update id="updateLeaveApp" parameterType="LeaveForm">
		UPDATE LEAVE_APP
		SET VAC_TYPE = #{vacType}, DFT_DATE = SYSDATE, START_DATE = #{startDate}, 
			END_DATE = #{endDate}, VAC_USE_DAYS = #{vacUseDays}, VAC_REASON = #{vacReason}
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 근태 기록 수정 신청서 업데이트 -->
	<update id="updateCmtUpdateApp" parameterType="CmtUpdateForm">
		UPDATE CMT_UPDATE_APP
		SET DFT_DATE = SYSDATE, UPDATE_DATE = #{updateDate}, 
			BE_ATTEND_TIME = TO_DATE(#{beAttendTime}, 'YYYY-MM-DD HH24:MI'), 
			BE_LEAVE_TIME = TO_DATE(#{beLeaveTime}, 'YYYY-MM-DD HH24:MI'), 
			ATTEND_TIME = TO_DATE(#{attendTime}, 'YYYY-MM-DD HH24:MI'), 
			LEAVE_TIME = TO_DATE(#{leaveTime}, 'YYYY-MM-DD HH24:MI'), 
			UPDATE_REASON = #{updateReason}
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 업무 기안서 업데이트 -->
	<update id="updateBusDraft" parameterType="CmtUpdateForm">
		UPDATE BUSINESS_DFT
		SET DOC_TITLE = #{docTitle}, DFT_DATE = SYSDATE, ENF_DATE = #{enfDate}, 
			COOP_DEPT = #{coopDept}, DFT_CONTENT = #{dftContent}
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 업무 협조문 업데이트 -->
	<update id="updateBusCoop" parameterType="CmtUpdateForm">
		UPDATE BUSINESS_COOP
		SET DOC_TITLE = #{docTitle}, DFT_DATE = SYSDATE, 
			RECEIVE_DEPT = #{receiveDept}, COOP_CONTENT = #{coopContent}
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 임시 저장 문서 - 휴가 신청서 결재 요청 및 업데이트 -->
	<update id="oboxAprvReqLeaveApp" parameterType="LeaveForm">
		UPDATE LEAVE_APP
		SET DOC_NO = SEQ_DOC_NO.NEXTVAL, DFT_DATE = SYSDATE, VAC_TYPE = #{vacType},
			START_DATE = #{startDate}, END_DATE = #{endDate}, VAC_USE_DAYS = #{vacUseDays}, 
			VAC_REASON = #{vacReason}, OUTBOX_NO = NULL
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 임시 저장 문서 - 근태 기록 수정 신청서 결재 요청 -->
	<update id="oboxAprvReqCmtApp" parameterType="CmtUpdateForm">
		UPDATE CMT_UPDATE_APP
		SET DOC_NO = SEQ_DOC_NO.NEXTVAL, DFT_DATE = SYSDATE, UPDATE_DATE = #{updateDate},
			BE_ATTEND_TIME = TO_DATE(#{beAttendTime}, 'YYYY-MM-DD HH24:MI'), 
			BE_LEAVE_TIME = TO_DATE(#{beLeaveTime}, 'YYYY-MM-DD HH24:MI'), 
			ATTEND_TIME = TO_DATE(#{attendTime}, 'YYYY-MM-DD HH24:MI'), 
			LEAVE_TIME = TO_DATE(#{leaveTime}, 'YYYY-MM-DD HH24:MI'), 
			UPDATE_REASON = #{updateReason}, OUTBOX_NO = NULL
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 임시 저장 문서 - 업무 기안서 결재 요청 -->
	<update id="oboxAprvReqBusDft" parameterType="BusDraftForm">
		UPDATE BUSINESS_DFT
		SET DOC_NO = SEQ_DOC_NO.NEXTVAL, DFT_DATE = SYSDATE, DOC_TITLE = #{docTitle}, 
			ENF_DATE = #{enfDate}, COOP_DEPT = #{coopDept}, DFT_CONTENT = #{dftContent},
			OUTBOX_NO = NULL
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 임시 저장 문서 - 업무 협조문 결재 요청 -->
	<update id="oboxAprvReqBusCoop" parameterType="BusCoopForm">
		UPDATE BUSINESS_COOP
		SET DOC_NO = SEQ_DOC_NO.NEXTVAL, DFT_DATE = SYSDATE, DOC_TITLE = #{docTitle}, 
			RECEIVE_DEPT = #{receiveDept}, COOP_CONTENT = #{coopContent}, OUTBOX_NO = NULL
		WHERE OUTBOX_NO = #{outboxNo}
	</update>
	
	<!-- 결재 취소 : 문서의 가장 최근 결재 기록 조회 -->
	<select id="lastAprvHistory" parameterType="_int" resultMap="lastAprvHistory_resultMap">
		SELECT A.DRAFTER, A.APRV_PRO AS APRV_CODE, B.APRV_PRO
		FROM V_APRV_HISTORY A
		JOIN APRV_PROCESSING B ON A.APRV_PRO = B.PRO_CODE
		WHERE 1=1
		AND DOC_NO = #{docNo}
		AND (APRV_HISTORY_NO, DOC_NO) IN (SELECT MAX(D.APRV_HISTORY_NO), D.DOC_NO
		                                      FROM APRV_DOCUMENT C
		                                      JOIN APRV_HISTORY D ON C.DOC_NO = D.DOC_NO
		                                      GROUP BY D.DOC_NO)
	</select>
	
	<!-- 결재 취소 : 결재 기록 삭제 -->
	<delete id="deleteDocHistory" parameterType="_int">
		DELETE FROM APRV_HISTORY WHERE DOC_NO = #{docNo}
	</delete>
	
	<!-- 결재 취소 : 휴가 신청서 임시 보관 번호 업데이트 -->
	<update id="updateLeaveAppOboxNo" parameterType="_int">
		UPDATE LEAVE_APP SET OUTBOX_NO = SEQ_DOC_OUTBOX.CURRVAL WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 결재 취소 : 근태 기록 수정 신청서 임시 보관 번호 업데이트 -->
	<update id="updateCmtAppOboxNo" parameterType="_int">
		UPDATE CMT_UPDATE_APP SET OUTBOX_NO = SEQ_DOC_OUTBOX.CURRVAL WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 결재 취소 : 업무 기안서 임시 보관 번호 업데이트 -->
	<update id="updateBusDraftOboxNo" parameterType="_int">
		UPDATE BUSINESS_DFT SET OUTBOX_NO = SEQ_DOC_OUTBOX.CURRVAL WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 결재 취소 : 업무 협조문 임시 보관 번호 업데이트 -->
	<update id="updateBusCoopOboxNo" parameterType="_int">
		UPDATE BUSINESS_COOP SET OUTBOX_NO = SEQ_DOC_OUTBOX.CURRVAL WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 재결재 요청 : 결재 문서 정보 업데이트 -->
	<update id="updateAprvDoc" parameterType="AprvDoc">
		UPDATE APRV_DOCUMENT
		SET DOC_TITLE = #{docTitle}, DFT_DATE = SYSDATE
		WHERE DOC_NO = #{docNo}
	</update>
	
	
	
	
	
</mapper>
