<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aprvMgtMapper">
	
	<resultMap type="AprvDoc" id="docScrtyRequest_resultMap">
		<result property="drafter" column="EMP_NAME"/>
		<result property="draftDate" column="DFT_DATE"/>
		<result property="proDate" column="SCRTY_REQ_DATE"/>
	</resultMap>
	

	<!-- 해당 문서의 서식 번호 조회 -->
	<select id="selectDocTypeNo" parameterType="_int" resultType="_int">
		SELECT DOC_TYPE
		FROM APRV_DOCUMENT
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 보안 요청 문서 리스트 개수 -->
	<select id="scrtyReqListCount" resultType="_int">
		SELECT COUNT(*)
		FROM APRV_DOCUMENT A
		JOIN SECURITY_DOC B ON A.DOC_NO = B.DOC_NO
		WHERE B.SCRTY_STATUS = 'R'
	</select>
	
	<!-- 보안 요청 문서 리스트 조회 -->
	<select id="selectScrtyReqList" parameterType="_int" resultMap="docScrtyRequest_resultMap">
		SELECT
		    A.DOC_NO,
		    C.DOC_FORM,
		    A.DOC_TITLE,
		    D.EMP_NAME,
		    A.DFT_DATE,
		    B.SCRTY_REQ_DATE
		FROM APRV_DOCUMENT A
		JOIN SECURITY_DOC B ON A.DOC_NO = B.DOC_NO
		JOIN DOCUMENT_TYPE C ON A.DOC_TYPE = C.DOC_TYPE_NO
		JOIN USER_INFO D ON A.DRAFTER = D.EMP_NO
		WHERE B.SCRTY_STATUS = 'R'
		ORDER BY 6 DESC
	</select>

	<!-- 보안 처리된 문서인지 조회 -->
	<select id="docScrtyCheck" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM SECURITY_DOC
		WHERE SCRTY_STATUS = 'Y'
		AND DOC_NO = #{docNo}
	</select>

	<!-- 문서 보안 처리 : 보안 문서 상태값 변경 -->
	<update id="docScrtyUpdate1" parameterType="_int">
		UPDATE SECURITY_DOC
		SET SCRTY_STATUS = 'Y'
		WHERE DOC_NO = #{docNo}
	</update>
	
	<!-- 문서 보안 처리 : 결재 문서 상태값 변경 -->
	<update id="docScrtyUpdate2" parameterType="_int">
		UPDATE APRV_DOCUMENT
		SET APRV_STATUS = 3, STATUS = 'N'
		WHERE DOC_NO = #{docNo}
	</update>
	
	

</mapper>