<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calenderMapper">
	<resultMap type="Calender" id="calenderResultSet">
		<id property="writerNo" column="WRITER_NO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="writerNo" column="WRITER_NO"/>
		<result property="sectionOption" column="SECTION_NUM"/>
		<result property="selectColor" column="COLOR_CODE"/>
		<result property="title" column="DATE_NAME"/>
		<result property="openOption" column="PUBLIC_RANGE"/>
		<result property="alarm" column="NOTICE_TIME"/>	
		<result property="place" column="PLACE"/>
		<result property="memo" column="MEMO"/>
	</resultMap>
	
	<insert id="insertCalender" parameterType="Calender">
		INSERT INTO CALENDER
		VALUES
		(TO_DATE(#{startDate},'YYYY/MM/DD HH24:MI'), TO_DATE(#{endDate},'YYYY/MM/DD HH24:MI'), 
		#{writerNo}, #{sectionOption}, #{selectColor},
		#{title}, #{openOption}, #{alarm}, #{place}, #{memo}, 'Y')
	</insert>
	<select id="selectList" parameterType="Map" resultMap="calenderResultSet">
		SELECT
		    A.START_DATE,
			A.END_DATE,
			A.WRITER_NO,
			A.SECTION_NUM,
			B.COLOR_CODE,
			A.DATE_NAME,
			A.PUBLIC_RANGE,
			A.NOTICE_TIME,
			A.PLACE,
			A.MEMO
		FROM CALENDER A
		JOIN CAL_COLOR B ON (A.COLOR_NUM = B.COLOR_NUM)
		 <![CDATA[WHERE WRITER_NO = 10000
			AND (EXTRACT(YEAR FROM START_DATE) <= #{year}
			AND EXTRACT(MONTH FROM START_DATE) <= #{month}
			AND EXTRACT(YEAR FROM END_DATE) >= #{year}
			AND EXTRACT(MONTH FROM END_DATE) >= #{month}
			)]]>
		<if test="empNo != null">
			<![CDATA[OR WRITER_NO = #{empNo}
			AND (EXTRACT(YEAR FROM START_DATE) <= #{year}
			AND EXTRACT(MONTH FROM START_DATE) <= #{month}
			AND EXTRACT(YEAR FROM END_DATE) >= #{year}
			AND EXTRACT(MONTH FROM END_DATE) >= #{month}
			)]]>
		</if>
		<if test="departmentNo != null">
			<![CDATA[OR WRITER_NO = #{departmentNo}
			AND (EXTRACT(YEAR FROM START_DATE) <= #{year}
			AND EXTRACT(MONTH FROM START_DATE) <= #{month}
			AND EXTRACT(YEAR FROM END_DATE) >= #{year}
			AND EXTRACT(MONTH FROM END_DATE) >= #{month}
			)]]>
		</if>
	</select>
</mapper>