<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="memberMapper">
 
 <resultMap type="Member" id="memberResultSet">
 	<id property="empNo" column="EMP_NO"/>
 	<result property="userId" column="USER_ID"/>
 	<result property="userPw" column="USER_PW"/>
 	<result property="empName" column="EMP_NAME"/>
 	<result property="userNo" column="USER_NO"/>
 	<result property="email" column="EMAIL"/>
 	<result property="phone" column="PHONE"/>
 	<result property="address" column="ADDRESS"/>
 	<result property="hireDate" column="HIRE_DATE"/>
 	<result property="status" column="STATUS"/>
 	<result property="endDate" column="END_DATE"/>
 	<result property="jobNo" column="JOB_NO"/>
 	<result property="departmentNo" column="DEPARTMENT_NO"/>
 </resultMap>


 
 <select id="selectLoginMember" resultMap="memberResultSet">





 <!-- 암호화 이후 로그인쿼리 여기서 STATUS는 퇴사여부임(아직구현안함)
 <![CDATA[
 	SELECT *
 	FROM USER_INFO
 	WHERE USER_ID=#{userId}
 	AND STATUS='N'
 ]]>-->
 <!-- 암호화 하기전 로그인 -->
 <![CDATA[
 	SELECT *
 	FROM USER_INFO
 	WHERE USER_ID=#{userId}
 	AND USER_PW=#{userPw}
 	AND STATUS='N'
  ]]>
 </select>
 
 
<!-- 회원가입하기전전 사원번호 입력시 사번있는지 확인용 1아니면 0이 나오게-->
<select id="selectEmpNoCount" resultType="_int">
<![CDATA[
 	SELECT COUNT(*)
 	FROM USER_INFO
 	WHERE EMP_NO=#{empNo}
 	 ]]>
</select>

<!-- 회원가입하기전 회원가입창에 사원정보 불러오기 select -->
<select id = "selectNewMember" resultMap="memberResultSet">
<![CDATA[
 	SELECT *
 	FROM USER_INFO
 	WHERE EMP_NO=#{empNo}
	 ]]>
</select>


<!-- 아이디 중복확인 -->
<select id="selectIdCheck" resultType="_int">
<![CDATA[
 	SELECT COUNT(*)
 	FROM USER_INFO
 	WHERE USER_ID=#{userId}
	 ]]>
</select>


<!-- 회원가입 update로 진행 -->
<update id="updateNewMember" parameterType="Member">
	<![CDATA[
		UPDATE USER_INFO
		SET USER_ID = #{userId}, USER_PW=#{userPw}, ADDRESS=#{address}
		WHERE EMP_NO = #{empNo} 
 	]]>
</update>


 
 </mapper>
