<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="memberMapper">
 
 <resultMap type="Member" id="memberResultSet">
 	<id property="empNo" column="EMP_NO"/>
 	<result property="userId" column="USER_ID"/>
 	<result property="userPw" column="USER_PW"/>
 	<result property="empName" column="EMP_NAME"/>
 	<result property="userNo" column="USER_NO"/>
 	<result property="email" column="EMAIL"/>
 	<result property="phone" column="PHONE"/>
 	<result property="address" column="ADDRESS"/>
 	<result property="hireDate" column="HIRE_DATE"/>
 	<result property="status" column="STATUS"/>
 	<result property="endDate" column="END_DATE"/>
 	<result property="jobNo" column="JOB_NO"/>
 	<result property="departmentNo" column="DEPARTMENT_NO"/>
 </resultMap>
 
  <resultMap type="WideMember" id="wideMemberResultSet">
 	<id property="empNo" column="EMP_NO"/>
 	<result property="userId" column="USER_ID"/>
 	<result property="userPw" column="USER_PW"/>
 	<result property="empName" column="EMP_NAME"/>
 	<result property="userNo" column="USER_NO"/>
 	<result property="email" column="EMAIL"/>
 	<result property="phone" column="PHONE"/>
 	<result property="address" column="ADDRESS"/>
 	<result property="hireDate" column="HIRE_DATE"/>
 	<result property="status" column="STATUS"/>
 	<result property="endDate" column="END_DATE"/>
 	<result property="jobNo" column="JOB_NO"/>
 	<result property="departmentNo" column="DEPARTMENT_NO"/>
 	<result property="jobName" column="JOB_NAME"/>
 	<result property="departmentTitle" column="DEPARTMENT_TITLE"/>
 </resultMap> 
 
   <resultMap type="Dept" id="deptResultSet">
 	<id property="dNo" column="EMP_NO"/>
 	<result property="userId" column="USER_ID"/>
 	<result property="userPw" column="USER_PW"/>
 	<result property="empName" column="EMP_NAME"/>
 	<result property="userNo" column="USER_NO"/>
 	<result property="email" column="EMAIL"/>
 	<result property="phone" column="PHONE"/>
 	<result property="address" column="ADDRESS"/>
 	<result property="hireDate" column="HIRE_DATE"/>
 	<result property="status" column="STATUS"/>
 	<result property="endDate" column="END_DATE"/>
 	<result property="jobNo" column="JOB_NO"/>
 	<result property="departmentNo" column="DEPARTMENT_NO"/>
 	<result property="jobName" column="JOB_NAME"/>
 	<result property="departmentTitle" column="DEPARTMENT_TITLE"/>
 </resultMap> 
 
<!-- 암호화된 로그인 -->
 <select id="selectLoginMember" resultMap="memberResultSet">
 <![CDATA[
 	SELECT *
 	FROM USER_INFO
 	WHERE USER_ID=#{userId}
 	AND STATUS='N'
 ]]>

 </select>
 
 
<!-- 회원가입하기전전 사원번호 입력시 사번있는지 확인용 1아니면 0이 나오게-->
<select id="selectEmpNoCount" resultType="_int">
<![CDATA[
 	SELECT COUNT(*)
 	FROM USER_INFO
 	WHERE USER_ID IS NULL 
 	AND EMP_NO=#{empNo} 
 	 ]]>
</select>
 
<!-- 회원가입폼에 입력한 사번으로 정보 불러오기 -->
<select id ="selectNewMember" resultType="WideMember">
<![CDATA[
   SELECT B.JOB_NAME,
           C.DEPARTMENT_TITLE,
           A.EMP_NAME,
           A.EMAIL,
           A.PHONE,
           SUBSTR(A.USER_NO,1,6)||'-'||SUBSTR(USER_NO,7,1) AS USER_NO,
           A.EMP_NO
 	FROM USER_INFO A 
    JOIN JOB_RANK_MANAGEMENT B ON A.JOB_NO =B.JOB_NO
    JOIN DEPARTMENT_MANAGEMENT C ON A.DEPARTMENT_NO = C.DEPARTMENT_NO 
 	WHERE A.EMP_NO=#{empNo}
 	
 	 ]]>
</select>

<!-- 아이디 중복확인 -->
<select id="selectIdCheck" resultType="_int">
<![CDATA[
 	SELECT COUNT(*)
 	FROM USER_INFO
 	WHERE USER_ID=#{userId}
	 ]]>
</select>


<!-- 회원가입 update로 진행 -->

<update id="updateNewMember" parameterType="Member">
	<![CDATA[
		UPDATE USER_INFO
		SET USER_ID = #{userId}, USER_PW=#{userPw}, ADDRESS=#{address}
		WHERE EMP_NO =#{empNo}
 	]]>
</update>


<!-- 전체주소록조회 -->
<select id="selectAllAddList" resultType="WideMember">
<![CDATA[
	SELECT A.EMP_NAME,
           C.DEPARTMENT_TITLE,
           B.JOB_NAME,
           A.EMAIL,
           A.PHONE
 	FROM USER_INFO A 
    LEFT JOIN JOB_RANK_MANAGEMENT B ON A.JOB_NO =B.JOB_NO
    LEFT JOIN DEPARTMENT_MANAGEMENT C ON A.DEPARTMENT_NO =C.DEPARTMENT_NO 
]]>
</select>


<!-- 부서별 주소록 목록 뜨게 음.. 관리자가 부서 추가하면 계속 추가됨. 정렬순서는 부서번호순-->

<select id="selectDeptTitleList" resultType="Dept">
<![CDATA[
	SELECT DEPARTMENT_TITLE
    FROM DEPARTMENT_MANAGEMENT  
    ORDER BY DEPARTMENT_NO
]]>
</select>

<!-- 부서명클릭시 부서별 조회 리스트 나오게 -->
<select id="selectDeptAddList" resultType="WideMember">
<![CDATA[
	 SELECT A.EMP_NAME,
           C.DEPARTMENT_TITLE,
           B.JOB_NAME,
           A.EMAIL,
           A.PHONE
 	FROM USER_INFO A 
    LEFT JOIN JOB_RANK_MANAGEMENT B ON A.JOB_NO =B.JOB_NO
    LEFT JOIN DEPARTMENT_MANAGEMENT C ON A.DEPARTMENT_NO =C.DEPARTMENT_NO
    WHERE C.DEPARTMENT_TITLE=#{departmentTitle}
    ]]>
</select>

<!-- 아이디 찾기 -->
 <select id="selectFindId" resultType="string" parameterType="WideMember">
 <![CDATA[
    SELECT A.USER_ID
 	FROM USER_INFO A 
    LEFT JOIN JOB_RANK_MANAGEMENT B ON A.JOB_NO =B.JOB_NO
    LEFT JOIN DEPARTMENT_MANAGEMENT C ON A.DEPARTMENT_NO =C.DEPARTMENT_NO
    WHERE A.EMP_NAME=#{empName}
    AND C.DEPARTMENT_TITLE=#{departmentTitle}
    AND A.EMAIL=#{email}
    AND SUBSTR(USER_NO,1,6)= #{userNo}
    ]]>
</select>

<!-- 프로필 사진등록 -->
<insert id="insertMemberAttachFile" parameterType="hashMap">
    INSERT INTO ATTACHMENT
    (FILE_NO,REF_LIST_CAT_NO,LARGE_CAT,ORIGIN_NAME,CHANGE_NAME,UPLOAD_DATE)
    VALUES (SEQ_ATTACH.NEXTVAL,10,#{empNo},#{orgName},#{chgName},SYSDATE)
 </insert>
 
 <!-- 비밀번호찾기 1.인증번호보내기 클릭시 정보확인 -->
  <select id="selectFindUser" resultType="_int" parameterType="Member">
 <![CDATA[
    SELECT COUNT(*)
 	FROM USER_INFO 
    WHERE EMP_NAME=#{empName}
    AND USER_ID=#{userId}
    AND SUBSTR(USER_NO,1,6)=#{userNo}
    AND EMAIL =#{email}
    ]]>
</select>

<!-- 비밀번호 찾기 2.비밀번호 변경 -->
  <update id="updatePw" parameterType="Member">
 <![CDATA[
   UPDATE USER_INFO
    SET USER_PW=#{userPw}
    WHERE USER_ID=#{userId}
    ]]>
</update>
 </mapper>
