<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

  <configuration>
  
  	<settings>
  		<!-- NULL은 항상 대문자 -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  		<!-- 언더바 때문에 컬럼명 달라서 resultMap 작성할 필요 없도록-->
 		<setting name="mapUnderscoreToCamelCase" value="true"/> 
  	</settings>
  	
  	<typeAliases>
  		<!-- 공통 -->
  		<typeAlias type="com.uni.spring.common.Attachment" alias="Attachment"/>
  		<!-- 유저 -->
  		<typeAlias type="com.uni.spring.member.model.dto.Member" alias="Member"/>
  		<typeAlias type="com.uni.spring.member.model.dto.WideMember" alias="WideMember"/>
  		<!-- 전자결재 -->
  		<typeAlias type="com.uni.spring.approval.model.dto.AprvDoc" alias="AprvDoc"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.AprvHistory" alias="AprvHistory"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.LeaveForm" alias="LeaveForm"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.SecurityDoc" alias="SecurityDoc"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.ReturnDoc" alias="ReturnDoc"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.OutboxDoc" alias="OutboxDoc"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.LeaveForm" alias="LeaveForm"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.CmtUpdateForm" alias="CmtUpdateForm"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.BusDraftForm" alias="BusDraftForm"/>
  		<typeAlias type="com.uni.spring.approval.model.dto.BusCoopForm" alias="BusCoopForm"/>
  		<!--  게시글 -->
  		<typeAlias type="com.uni.spring.board.model.dto.Board" alias="Board"/>
  		<typeAlias type="com.uni.spring.board.model.dto.coment" alias="coment"/>
  		<typeAlias type="com.uni.spring.board.model.dto.pbox" alias="pbox"/>
  		<!-- 부서 페이지 -->
  		<typeAlias type="com.uni.spring.department.model.dto.DepartmentReply" alias="DepartmentReply"/>
  		<typeAlias type="com.uni.spring.department.model.dto.Department" alias="Department"/>
  		<typeAlias type="com.uni.spring.department.model.dto.Project" alias="Project"/>
  		<typeAlias type="com.uni.spring.department.model.dto.AttendLog" alias="AttendLog"/>
  		<typeAlias type="com.uni.spring.department.model.dto.SemiProject" alias="SemiProject"/>
  		<typeAlias type="com.uni.spring.department.model.dto.SemiCheckList" alias="SemiCheckList"/>
  		<!-- 캘린더 -->
  		<typeAlias type="com.uni.spring.calender.model.dto.Calender" alias="Calender"/>
  		<typeAlias type="com.uni.spring.common.DepartmentManagement" alias="DepartmentManagement"/>
  		<!-- 주소록 -->
  		<typeAlias type="com.uni.spring.addressBook.model.dto.Dept" alias="Dept"/>
  		<typeAlias type="com.uni.spring.department.model.dto.ProjectClass" alias="ProjectClass"/>
  		<typeAlias type="com.uni.spring.addressBook.model.dto.Company" alias="Company"/>
  		<typeAlias type="com.uni.spring.addressBook.model.dto.Customer" alias="Customer"/>		
  		<!-- 관리자 -->
  		<!-- 사원정보 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.employee" alias="emp"/>
  		<!-- 직위 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.Job" alias="Job"/>
  		<!-- 부서 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.Department" alias="DepartmentList"/>

  		<!-- 사원상세정보 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.employeeAllInfo" alias="empInfo"/>
  		<!-- 게시판관리 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.BoardManagement" alias="BManage"/>
  		<!-- 금지어관리 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.BanWords" alias="banword"/>
  		<!-- 회의실 관리 -->
  		<typeAlias type="com.uni.spring.admin.model.dto.MeetingRoomLargeCategory" alias="MRLC"/>
  		<typeAlias type="com.uni.spring.admin.model.dto.MeetingRoom" alias="MR"/>
  		
  		<!-- 마이페이지 -->
  		<!-- 업무일지 -->
  		<typeAlias type="com.uni.spring.mypage.model.dto.Journal" alias="journal"/>
  		<!-- todoList -->
  		<typeAlias type="com.uni.spring.mypage.model.dto.ToDoList" alias="todolist"/>
  	</typeAliases>
  	
  	<!-- 
  	<typeHandlers>
		<typeHandler handler="com.uni.spring.common.CustomDateHandler"/>
	</typeHandlers>
  	 -->
  	
  	<mappers>
  		<mapper resource="/mappers/department-mapper.xml"/>
  		<mapper resource="/mappers/member-mapper.xml"/>
  		<mapper resource="/mappers/approval-mapper.xml"/>
  		<mapper resource="/mappers/board-mapper.xml"/>
  		<mapper resource="/mappers/calender-mapper.xml"/>
  		<mapper resource="/mappers/addressBook-mapper.xml"/>
  		<mapper resource="/mappers/adminMapper.xml"/>
  		<mapper resource="/mappers/mypageMapper.xml"/>
  	</mappers>
  	
  </configuration>
  	