@charset "utf-8";

#emp_management_container .list_title span{
    font-size: 24px;
    font-weight: 600;
    margin-left: 30px;
}

#emp_management_container{
    display: flex;
    justify-content: center;
}

#emp_management_container .list_sort {
    float: right;
    margin-right: 30px;
}

#emp_management_container > div{
    width: 26vw;
}

#emp_management_container .search_input_box {
    clear: both;
    text-align: center;
    padding-top: 10px;
}

.list_title{
    height: 40px;
}

.list_title input{
    float: right;
    width: 30%;
    height: 25px;
    border-radius: 10px;
}

.emp_insert button {
    position: absolute;
    top: 40%;
    left: 78%;
    transform: translateY(-50%);
}

.list_container{
    clear: both;
    height: 70vh;
    overflow-y: scroll;
}

.list_container::-webkit-scrollbar{
    display: none;
}

.list_container .emp_list_content{
    height: 40px;
    margin-top: 10px;
}

.emp_list_content .emp_profile_img{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 70px;
    margin-right: 50px;
}

.emp_list_content .emp_name_box {
    display: inline-block;
    position: relative;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.job_level, .insert_level{
    cursor: pointer;
}

.insert_btn{
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.emp_profile_img img{
    width: 40px;
}