@charset "UTF-8";
/*행과 열*/
#calendarFrm td {font-family: "돋움"; font-size: 9pt; color:#595959;}
#calendarFrm th {font-family: "돋움"; font-size: 9pt; color:#000000;}
#calendarFrm select {font-family: "돋움"; font-size: 9pt; color:#595959;}


.divDotText {
overflow:hidden;
text-overflow:ellipsis;
}

#calendarFrm A:link { font-size:11pt; font-family:"돋움";color:#000000; text-decoration:none; }
#calendarFrm A:visited { font-size:9pt; font-family:"돋움";color:#000000; text-decoration:none; }
#calendarFrm A:active { font-family:"돋움";color:#17b6ff; text-decoration:none; }
#calendarFrm A:hover { font-family:"돋움";color:#17b6ff;text-decoration:none;}
.day{
	width:100px; 
	height:30px;
    vertical-align: middle;
	font-size:15px;
	font-weight:bold;
	text-align: center;
}
.sat{
	color:#3678f1;
}
.sun{
	color:red;
}
.today_button_div{
	float: right;
}
.today_button{
	width: 100px; 
	height:30px;
}
.calendar{
	margin: auto;
	width: 80%;
}

.naviLine{
	display: flex;
}

/*네비*/
.navigation{
	margin-bottom:15px;
	text-align: right;
	width: 60%;
	font-size: 25px;
}
.searchLine{
	width: 40%;
	display: flex;
    justify-content: end;
}
.searchtext {
    width: 31%;
}
/*검색할 text*/
.searchSchedule {
	width: 150px;
	height: 25px;
}
/*검색하기 버튼*/
.searchcalender {
	width: 30px;
	height: 30px;	
}

/*캘린더 바디부분*/
.calendar_body{
	width:100%;
	background-color: #FFFFFF;
	border:1px solid white;
	border-collapse: collapse;
}
.calendar_body .today{
	border:1px solid white;
	height:120px;
	background-color:#b9eeff2e;
	text-align: left;
	vertical-align: top;
}
.calendar_body .date{
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .sat_day{
	border:1px solid white;
	height:120px;
	background-color:#f5F5F5;
	text-align:left;
	vertical-align: top;
}
.calendar_body .sat_day .sat{
	color: #3678f1; 
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .sun_day{
	border:1px solid white;
	height:120px;
	background-color:#f5F5F5;
	text-align: left;
	vertical-align: top;
}
.calendar_body .sun_day .sun{
	color: red; 
	font-weight: bold;
	font-size: 15px;
	padding-left: 3px;
	padding-top: 3px;
}
.calendar_body .normal_day{
	border:1px solid white;
	height:120px;
	background-color:#f5F5F5;
	vertical-align: top;
	text-align: left;
}
.before_after_month{
	margin: 10px;
	font-weight: bold;
}
.before_after_year{
	font-weight: bold;
}
.this_month{
	margin: 10px;
}
form#calendarFrm {
	padding-bottom: 30px;
}
.schedule-title{
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 22px;
	font-weight: bold;
    border-bottom: 1px solid;
  		padding-bottom: 5px;
}
.scheduleList {
	border-top: 1px solid black;
}
.today-Schedule {
    width: 15vw;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.title {
	font-size: 17px;
	font-weight: 300;
}
.line {
	margin-bottom: 7px;
}
.title, .line{
	margin-right: 7px;
}
.todayList li:hover, .monthSchedule li:hover{
	background-color: #f5f5f5; 
}
.todayList a :hover{
	color: black;
}
.main-caldiv {
    width: 83vw;
    display: flex;
    height: 100%;
    margin: auto;
    margin-top: 7%;
}
.calendar { 
	/*border: 1px solid black;*/
	width: 65vw;
}
.todaySchedule{
    height: 34%;
}
.monthSchedule{
	height: 60%;
}
.monthSchedule ul{
    overflow-y: scroll;
  		height: 47%;
}
.todaySchedule ul{
    overflow-y: scroll;
    height: 82%;
}
.monthSchedule ul::-webkit-scrollbar, .todaySchedule ul::-webkit-scrollbar{
    display: none;
}
.schedule-this{
	margin-top: 12px;
   	margin-bottom: 12px;
   	padding-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid;
}
.schedule-list{
	margin-bottom:10px; 
	border-bottom:1px solid;
	padding-bottom:10px;
}
.font-small{
	font-size: 12px;
}
.today-Schedule .range{
    padding-left: 4px;
   	padding-right: 4px;
}